---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/*
  637eab  background-blue
  0C2245  dark blue
  B59F96  Weird brown
  DE7A6A  Awkward Red
*/

$backgroundGrey:   #444;
$lightBlue:        #637eab;
$lightRed:         #DE7A6A;
$lightGrey:        rgb(236,236,236);

$GrayBoxWidth:     1000px;
$PageWidth:        800px;

html
{
  min-height: 100%;
}

body
{
	background-image:url('../res/groovepaper_blue.png');
	font-family:"Helvetica";
  padding:0px;
  margin:0px;
  border:0;
  min-height: 100%;
}


h1
{
	
	/*text-shadow: 1px 1px 3px rgba(255,255,255,0.1);*/
  font-size:40pt;
  margin-top:80px;
  margin-bottom:10px;
  color: #4a6289;
  text-shadow: 2px 1px 5px #ccc;
}

h2
{
	/*color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);*/
  font-size:26pt;
  margin-bottom:0;
  color: #111;
  text-shadow: 2px 1px 5px #ccc;
}

h3
{
  margin-top:70px;
  font-size:20pt;
}

img
{
    max-width: 600px; 
    margin: 10px auto 10px auto;
    min-width:100px;
    display:block;
}


a 
{
  color: #111;
}

a:hover
{
  color: $lightRed;
}

table
{
  margin:10px auto;
  background-color: #ddd;
  text-align: left;
  width:auto;
}

td
{
  vertical-align: top;
}

.td-name
{
  width:25%;
}

.td-size
{
  width:10%;
}

/*********************************************
      LAYOUT
*********************************************/

@media (min-width: $PageWidth) {
  #centreDiv
  {
    width:$GrayBoxWidth; 
    margin:0 auto 0 auto;
  }

  #grayBackground
  {
    width:$PageWidth;
    padding:30px 20px 30px 80px;
  }

  .post
  { 
    padding:20px 30px 20px 100px;
  }

  .textSpace
  {
    width:600px; 
    padding-left:20px; 
  }

  ul li.menuitem
  {
    display: inline-block;
    width: 260px;
  }

  #header
  {
    height:180px;
  }
}

@media (max-width: $PageWidth) {
  #centreDiv
  {
    width:100%; 
  }

  #grayBackground
  {
    width:100%;
    padding:30px 10px 30px 10px;
  }

  .post
  {
    padding:20px 30px 20px 10px;
  }

  .textSpace
  {
    width:100%;  
    padding-left:5px;
  }

  ul li.menuitem
  {
    display: block;
    width: 100%;
  }

  #header
  {
    height:auto;
  }
}


#grayBackground
{
	background-color:$lightGrey;
	color:$backgroundGrey;
  box-shadow: 0px 0px 20px #555;
}

/*********************************************
      POSTS
*********************************************/

.post
{
  color: #333;
}

.textSpace
{
  line-height: 160%;
}


.post-meta
{
  color:#333;
  font-size:8pt;
  margin-bottom:40px;
  margin-top:10px;
}

/*********************************************
      HEADER BAR
*********************************************/

#header
{
  margin:80px 0 30px 0;
}

#header-title
{
  font-size: 42pt;
  margin-bottom: 30px
  
}
#header-title a
{
  text-decoration:none;
}

/*********************************************
      NAV MENU
*********************************************/

.header-nav-menu
{
  height: auto;
  width: 100%;
  z-index: 35;
  position: relative;

  margin: 0;
  padding: 0;
  border: 0;
}

ul, li {
    padding: 0;
    margin: 0;
}

.header-nav-menu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  height: auto;
}

ul li.menuitem
{
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  vertical-align: top;
  height:auto;
}

ul li.menuitem a 
{
  height: 60px;
  width: inherit;
  display: inline-block;  
  padding: 20px 0 0 0;

  color: #569;
  font-size:16pt;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;

  text-align: center;
  transition-property: background;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  border-bottom: thick solid #637eab;
}

ul li.menuitem :hover
{
  background-color: $lightBlue;
  border-bottom: thick solid $lightRed;
  color: #eee;
  text-shadow: 1px 1px #222;
}

