<div id="header">
<div id ="header-title">
  {{ site.title }}
</div>
<nav class="header-nav-menu">
  <ul><!--
    --><li class="menuitem"><a href="{{ site.baseurl }}/">Home</a></li><!--
    --><li class="menuitem"><a href="{{ site.baseurl }}/posts">Posts</a></li><!--
      <li class="menuitem"><a href="{{ site.baseurl }}/#">Projects</a></li>
       <li class="menuitem"><a href="{{ site.baseurl }}/#">Download</a></li>
    --><li class="menuitem"><a href="{{ site.baseurl }}/about">About</a></li><!--
  --></ul>
</nav>
</div>
